<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Songr</title>
</head>
<body>
<header>
    <h1>Albums List</h1>
</header>
<main>
    <div th:each="album : ${albums}">
            <h3 th:text="${album.title}"></h3>
        <ul>
            <li th:text="'Artist: ' + ${album.artist}"></li>
            <li th:text="'Song count: ' + ${album.songCount}"></li>
            <li th:text="'Length in seconds: ' + ${album.length}"></li>
            <li><img th:src="${album.imgUrl}"/></li>
        </ul>
        <h4 th:each="song : ${album.songList}">
            <span th:text="${song.title} + ' is ' + ${song.length} + ' seconds long and number ' + ${song.trackNumber}"></span>
            <form th:action="'/albums/'+${album.id} + '/songs'" method="post">
                <input type="hidden" name="_method" value="DELETE" />
            <button type="submit"> X </button></form>
        </h4>

        <h3>Add a song</h3>
        <form th:action="'/albums/'+${album.id} + '/songs'" method="post">
            <label for="song_title" >Title:</label>
            <input id="song_title" name="title">
            <br>
            <label for="song_length" >Length:</label>
            <input id="song_length" name="length">
            <br>
            <label for="trackNumber" >Track Number:</label>
            <input id="trackNumber" name="trackNumber">
            <br>
            <input type="submit" value="Add song">
        </form>

        <br>


        <form th:action="'/albums/'+${album.id}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">Delete</button>
        </form>
    </div>

    <form action="/albums" method="post">
        <ul>
            <li>
                <label for="title">Album Title:</label>
                <input type="text" id="title" name="title">
            </li>
            <li>
                <label for="artist" >Artist:</label>
                <input id="artist" name="artist">
            </li>
            <li>
                <label for="length">Length:</label>
                <input id="length" name="length"/>
            </li>
            <li>
                <label for="imgUrl">ImgUrl:</label>
                <input  id="imgUrl" name="imgUrl"/>
            </li>
            <li>
                <label for="songCount">Song Count:</label>
                <input  id="songCount" name="songCount"/>
            </li>
            <li class="button">
                <button type="submit">Add Album</button>
            </li>
        </ul>
    </form>

</main>
<footer>

</footer>


</body>

</html>