<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Songr</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Songr!</h1>
            <h2>The first App that lets you log and review your favorite music albums!</h2>
        </header>
        <main>
            <input type="button"  onclick="location.href='/albums'" value="Click Here!" >
            <p>to access new albums!</p>
        </main>
        <footer>

        </footer>


    </body>

</html>
